name: Build and test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
        
    - name: Clone and build boot-framework
      uses: actions/checkout@v3
      with:
        repository: steliomo/boot-frameworks
        ref: v1.0.2
        path: boot-frameworks
    
    - name: Copy the report files
      run: cp -r grocery-core/src/main/resources/reports/*.jrxml /opt/grocery/data/reports
        
    - name: Build and install boot-framework
      run: mvn clean install -f boot-frameworks
      
    - name: Build with Maven
      run: mvn clean install
